@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap");

@import url("./bootstrap.min.css");
@import url("./styles.css");
