h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

#__next {
  min-height: 100vh;
  position: relative;
}

.header-logo {
  font-family: "Italiana", serif;
  font-size: 2rem;
}

header {
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  position: absolute;
  bottom: -6vh;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

/* general */
.btn {
  text-transform: uppercase;
}

/* home page */
.product-card {
  border: 0px;
}

.product-img {
  position: relative;
}

.product-img__cover {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 6/9;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: opacity 650ms ease-in-out;
}

.product-img__cover:hover {
  opacity: 0;
}

.product-img__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  visibility: visible;
  transition: opacity 650ms ease-in-out;
}

.product-img__hover:hover {
  opacity: 1;
}

.card-product-title {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.card-product-title a {
  color: black;
  text-decoration: none;
}

.card-product-price {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.card-product-reviews {
  font-family: "Open Sans";
}

/* product page */
.product-main-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: visible;
  top: 0;
}

.toggle-main-img {
  position: relative;
  opacity: 1;
  aspect-ratio: 6/9;
  transition: opacity 650ms ease-in-out;
}

.product-side-img {
  aspect-ratio: 6/9;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

.product-side-img:hover {
  cursor: pointer;
  outline: 2px solid black;
}

.toggle-side-img {
  outline: 2px solid black;
}

.coupon-text {
  width: 70%;
}

.coupon-button {
  width: 30%;
}

.profile-img {
  position: relative;
  border-radius: 50%;
}

.text-area {
  min-height: 15vh;
}

.trash-btn {
  position: absolute;
  left: 100%;
}

/* dashboard */
.app-container {
  margin: 2rem auto 0;
  max-width: 90vw;
}

.app-container h1 {
  margin-bottom: 2rem;
}

.admin-dashboard .nav-link {
  cursor: pointer;
  color: #222;
  text-transform: uppercase;
}

.admin-dashboard .nav-link:hover {
  outline: 1px solid #222;
}

.admin-dashboard .nav-link.active {
  cursor: pointer;
  color: #fff;
  background-color: #222;
}

.admin-dashboard .nav-pills .active {
  cursor: pointer;
  border: none;
}

.create-product-tab .carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 130%;
}

/* cart page */
.cart-img {
  position: relative;
  aspect-ratio: 6/9;
}
