#__next {
  /* min-height: 100vh; */
  position: relative;
}

body {
  font-family: "Open Sans", sans-serif;
}

.toast-add-item {
  position: absolute;
  top: 100%;
  right: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "Italiana", serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

/* General */
a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;
}

a:hover {
  color: #555;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
  a:hover {
    color: #555;
  }
}

.btn {
  text-transform: uppercase;
  box-shadow: 0px 0px 5px #555;
  background-position: center;
  transition: background 0.8s;
}

.btn-dark:hover {
  background: #464646 radial-gradient(circle, transparent 1%, #464646 1%)
    center/15000%;
  border-color: #464646;
}

.btn-dark:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
  background-size: 100%;
  transition: background 0s;
}

.btn-outline-dark:hover {
  background: #464646 radial-gradient(circle, transparent 1%, #464646 1%)
    center/15000%;
  border-color: #464646;
}

.btn-outline-dark:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
  background-size: 100%;
  transition: background 0s;
}

.btn-light:hover {
  background: #f1f1f1 radial-gradient(circle, transparent 1%, #f1f1f1 1%)
    center/15000%;
  border-color: #f1f1f1;
}

.btn-light:active {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  background-size: 100%;
  transition: background 0s;
}

.btn-dark:focus,
.btn-outline-dark:focus {
  box-shadow: none;
}

.btn-dark:active:focus,
.btn-outline-dark:active:focus {
  box-shadow: none;
}

.app-container {
  margin: 2rem auto 0;
  max-width: 90vw;
  padding-top: 2rem;
}

.app-container h1 {
  margin-bottom: 2rem;
}

/* Bootstrap Component */

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #555;
}

.nav-pills .nav-link.active {
  background-color: #000;
}

.nav-pills .active {
  border: #000;
}

.form-check-input:checked {
  background-color: #000;
  border-color: #000;
}

.breadcrumb {
  border: 0;
  padding-left: 0px;
}

/* Custom Compoent */

/* image swiper */
.mySwiper {
  box-shadow: 0px 0px 5px #555;
}

/* color selector */
.color-selector-outer {
  border: 0px solid #000;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 15px 5px 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}

.color-selected {
  border-width: 1px !important;
}

.color-selector-outer:hover {
  border-width: 1px !important;
}

.color-selector-inner {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  display: block;
  text-align: center;
}

/* size selector */
.size-selector {
  border: solid 1px #000;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  background-color: #fff;
  color: #000;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.size-selector:hover {
  background-color: #000;
  color: #fff;
}

/* quantity-selector */
.quantity-selector .qty-btn {
  border: 1px solid #000;
  padding: 5px 12px;
  margin-right: 15px;
  font-size: 1.5rem;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.quantity-selector .increase-btn {
  margin-right: 0px;
}

.quantity-selector .quantity-box {
  width: 85px;
  margin-right: 15px;
}

.quantity-selector .quantity-box #cart-quantity {
  width: 5px;
  margin-right: 15px;
}

.quantity-selector .quantity-box .form-control {
  border: 1px solid #000;
  max-height: 35px;
}

.quantity-selector .qty-btn:hover {
  background-color: #000;
  color: #fff;
}

/* review */
.review-name {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0;
}

.review-title {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.review-comment {
  font-size: 1rem;
}

/* Header */
header {
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: #fff;
}

.header-logo {
  font-family: "Italiana", serif;
  font-size: 2rem;
}

.icon-menu {
  font-size: 1.25rem;
}

.icon-menu a {
  color: #000 !important;
  font-size: 0;
}

.icon-menu .fa-circle-user,
.icon-menu .fa-basket-shopping {
  font-size: 1.25rem;
}

.icon-menu .cart-icon #notification {
  font-size: 0.5rem;
  font-weight: 900;
  padding: 12%;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease-in-out;
  top: 15%;
  left: 60%;
}

.account-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.125rem;
  z-index: 1000;
  min-width: 10rem;
  padding: 0rem;
  margin: 0;
  font-size: 1rem;
  color: #222;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  display: none;
}

.account-dropdown-menu .account-dropdown-item {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #222;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.account-dropdown-menu .account-dropdown-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.account-dropdown-menu .account-dropdown-title {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  user-select: none;
}

.sub-menu {
  text-transform: uppercase;
}

#dropdown-menu .dropdown-menu {
  right: 0;
  left: auto;
}

.offcanvas-body {
  padding: 0;
}

.offcanvas-body-upper {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.offcanvas-start {
  width: 370px;
}

.offcanvas-link {
  padding: 0.5rem 1rem !important;
  display: flex;
  justify-content: space-between;
}

.offcanvas a:active {
  background-color: #e8e8e8;
}

.offcanvas-body-lower a {
  padding: 0.5rem 0.25rem;
}

.offcanvas-body-lower a:active {
  outline: #bbb solid 3px;
  border-radius: 9px;
}

/* Home page */
.menu-tab {
  background-color: #ffffffb5;
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
  opacity: 0;
}

.menu-tab-mobile {
  margin: 1rem 0;
}

.add-to-cart-btn {
  padding: 6px 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.add-to-cart-btn-lg {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid black;
  margin: 0.5rem 0;
}

.add-to-cart-btn:hover {
  background-color: #000;
  color: #fff;
}

.add-to-cart-btn:focus {
  box-shadow: none;
  outline: 0;
}

.product-card {
  border: 0px;
}

.product-img {
  position: relative;
}

.product-img__cover {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 6/9;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: opacity 650ms ease-in-out;
}

.product-img__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  visibility: visible;
  transition: opacity 650ms ease-in-out;
}

.card-product-title {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  padding: 0;
}

.card-product-title a {
  color: black;
  text-decoration: none;
}

.card-product-price {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card-product-price h4 {
  font-weight: 400;
}

.card-product-reviews {
  font-size: 0.9rem;
  padding: 0;
}

.card-product-color {
  font-size: 0.9rem;
  padding: 0;
}

.breadcrumb-label {
  padding: 0 3rem;
}

/* Tablet Screen */
@media only screen and (max-width: 576px) {
  .breadcrumb-label {
    padding: 0 1rem;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 425px) {
  .add-to-cart-btn {
    padding: 0px 15px;
    font-size: 0.6rem;
  }

  .card-product-title {
    font-size: 1.1rem;
  }

  .card-product-price {
    font-size: 1.1rem;
  }
}

/* Category Page */
.category-header {
  font-family: "Italiana", serif;
  padding-top: 2rem;
  margin: 0 0 1rem 0;
  text-align: center;
}

/* Product page */
#product-page {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#product-page .list-group-item {
  border: 0px;
}

#product-page .product-main-img {
  position: absolute;
  opacity: 0;
  visibility: visible;
  top: 0;
}

#product-page .toggle-main-img {
  position: relative;
  opacity: 1;
  aspect-ratio: 6/9;
  transition: opacity 650ms ease-in-out;
  box-shadow: 0px 0px 5px #555;
}

#product-page .product-side-img {
  aspect-ratio: 6/9;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 5px #555;
}

#product-page .product-side-img:hover {
  cursor: pointer;
  outline: 2px solid black;
}

#product-page .toggle-side-img {
  outline: 2px solid black;
}

#product-page #price {
  font-weight: 300;
}

#product-page .product-page-box {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
}

#product-page .product-page-box h5 {
  text-transform: uppercase;
  font-weight: 300;
}

#product-page .swiper-pagination-bullet-active {
  background: #000;
}

#product-page .swiper-button-next,
#product-page .swiper-button-prev {
  color: #000;
}

#product-page
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background: #000;
}

#product-page .coupon-text {
  width: 70%;
}

#product-page .coupon-button {
  width: 30%;
}

.profile-img {
  position: relative;
  padding: 0;
}

.text-area {
  height: 100px;
}

.trash-btn {
  position: absolute;
  left: 85%;
  width: 35px;
  height: 35px;
}

.description-tabs {
  cursor: pointer;
  outline: 1px solid #000;
}

#size-chart {
  display: inline-flex;
}

.description-panel {
  padding: 0 1.5rem;
}

.description-section h6 {
  font-family: "Lucida Sans", sans-serif;
}

/* Mobile, Tablet Screen */
@media only screen and (max-width: 576px) {
  #product-page .toggle-main-img {
    box-shadow: none;
  }

  #product-page .product-side-img {
    box-shadow: none;
  }
}

/* Dashboard */
.admin-dashboard .nav-link {
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
}

.admin-dashboard .nav-link:hover {
  outline: 1px solid #000;
}

.admin-dashboard .nav-link.active {
  cursor: pointer;
  color: #fff;
  background-color: #000;
}

.admin-dashboard .nav-pills .active {
  cursor: pointer;
  border: none;
}

.carousel-product-parent {
  width: 100%;
}

.carousel-product-item {
  position: relative;
  aspect-ratio: 6/9;
}

.dashboard-profile-img {
  position: relative;
  aspect-ratio: 1/1;
}

/* Cart page */
#cart-items {
  font-size: 1.2rem;
}

.cart-img {
  position: relative;
  aspect-ratio: 6/9;
  cursor: pointer;
}

#cart-items .cart-product-title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

#cart-items .cart-price {
  width: 25%;
}

#cart-items .cart-quantity {
  width: 10px;
  margin-right: 15px;
}

#cart-items .cart-trash-btn {
  width: 35px;
  height: 35px;
}

#cart-items .form-select-sm {
  width: 50%;
}

.order-id {
  max-width: 80%;
}

/* Tablet Screen */
@media only screen and (max-width: 768px) {
  .order-id {
    font-size: 1.5rem;
  }
}

/* Tablet Screen */
@media only screen and (max-width: 576px) {
  #cart-items .cart-price {
    width: 100%;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 425px) {
  .order-id {
    font-size: 1.2rem;
  }

  #cart-items .cart-product-title {
    font-size: 1rem;
  }

  #cart-items h6 {
    font-size: 1rem;
  }

  #checkout-step .nav-item {
    font-size: 0.65rem;
    width: 55px;
  }

  #checkout-step .nav-item a {
    padding: 5px 8px;
    text-align: center;
  }
}

/* Sign In & Sign Up Page */
.register-box {
  box-shadow: 1px 1px 12px rgb(44, 44, 44);
  margin: 100px auto 0;
  padding: 0;
  max-width: 1000px;
}

.register-box .row {
  margin: 0;
}

.register-box .row .col:nth-child(2) {
  padding: 2rem;
}

.register-box h1 {
  font-family: "Italiana", serif;
}

.banner-img {
  position: relative;
  min-height: 80vh;
  padding: 0;
  cursor: pointer;
}

.register-box .gender-age-form {
  margin: 1rem 0;
}

.register-box .gender-form {
  padding-right: 1rem;
  padding-left: 0;
}

.register-box .age-form {
  padding-right: 0;
  padding-left: 1rem;
}

/* Mobile, Tablet Screen */
@media only screen and (max-width: 768px) {
  .register-box {
    max-width: none;
    width: auto;
    margin: 100px 15px 0 15px;
  }

  .banner-img {
    display: none;
  }

  .register-box .gender-age-form {
    margin: 0;
  }

  .register-box .gender-form {
    padding-right: 0;
    margin-bottom: 1rem;
  }

  .register-box .age-form {
    padding-left: 0;
    margin-bottom: 1rem;
  }
}

/* Footer */
footer {
  background: #fff;
  padding: 0;
  color: #000;
}

.upper-footer {
  padding: 2rem;
  height: auto;
  margin: auto 0;
}

.topic-footer {
  margin-bottom: 1.5rem;
}

.topic-footer h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-lists {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-lists li {
  margin: 5px 0;
}

.footer-lists li a {
  text-decoration: none;
  font-weight: normal;
}

.footer-newsletter {
  display: flex;
  flex-direction: row;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  margin-right: 5px;
  transition: all 0.3s ease-out;
  transition-duration: 0.8s;
}

.lower-footer {
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid;
}

.lower-footer p {
  text-align: center;
}

/* Mobile Screen */
@media only screen and (max-width: 486px) {
  .footer-newsletter {
    flex-direction: column;
  }
}

/* Mobile Screen */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-newsletter {
    flex-direction: column;
  }
}