apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
        - name: product
          image: us.gcr.io/microservices-ecommerce-341106/product
          env:
            - name: NATS_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NATS_URL
              value: "http://nats-srv:4222"
            - name: NATS_CLUSTER_ID
              value: microservices-ecommerce
            - name: MONGO_URI_PRODUCT
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGO_URI_PRODUCT
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: product-srv
spec:
  selector:
    app: product
  type: ClusterIP
  ports:
    - name: product
      protocol: TCP
      port: 3000
      targetPort: 3000
