name: tests-user

on:
  pull_request:
    paths:
      - "user/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd user && npm install && npm run test:ci
